# Directorios
.idea/
drafts/
app/sde/tmp/
app/pmn/tmp/
app/util/api/
app/util/v1/
app/util/v2/
app/viejo/
app/yokohama/
includes/error_log/
includes/app_includes/font
sql/
web/

# Patrones para los archivos

*.bkp.php
*.sql
*.tags
*.tags_sorted_by_file
*.log
*.txt
*.tar
*.tar.gz
*.gz
tmp??????
*.pdf
*.json



